{% extends 'base.html' %}

{%block title%}User{% endblock %}

{% block content %}
    {% if user.is_anonymous == False %}

    <h1 class = "text-center my-3">Welcome {{user.first_name}} {{user.last_name}}!</h1>

    
        {% if user_list %}
            <div class = "container">
                <div class = 'row'>
                    <h3 class = "text-center my-3">Would you like to update your profile?</h3>
                    <ul class = " list-group text-center col-lg-4 offset-lg-4">
                    {% for user in user_list %}
                    <li class = "list-group-item"><a class = "text-decoration-none"href = "{% url 'todolist:viewuser_profile' user.id %}">{{user.username}}</a></li>
                    {% endfor %} 
                    </ul>
                </div>
            </div>
        {% else %}
            <div class = "container">
                <div class = 'row'>
                    <h3 class = "text-center my-3">Username</h3>
                    <p class = "text-center my-3">User does not exist.</p>
                </div>
            </div>

        {% endif %}


    {% else %}
        <h1 class = "text-center my-3">You are not authorized to access this page.</h1>
        <p class = "text-center my-3">Kindly login <a href = "{% url 'todolist:login' %}">here</a>.</p>
    {% endif %}

{% endblock %}
