{% extends "base.html" %}

{% block title %}My Profile{% endblock %}

{% block content %}
	<div class = "text-center mt-3">
		<h1>Hi {{username}}</h1>

		<h3>First Name:</h3>
		<p>{{first_name}}</p>

		<h3>Last Name:</h3>
		<p>{{last_name}}</p>

		<button class = "btn btn-success mx-1">
			<a class= "text-decoration-none" href = "{% url 'todolist:update_profile' id%}">Edit Profile</a>
		</button>

		<button class = "btn btn-warning mx-1">
			<a class= "text-decoration-none"href = "{% url 'todolist:index' %}">Back to index page!</a>
		</button>

	</div>
	

{% endblock %}

